[data-component="pixelated-image"] [data-pi-container] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-component="pixelated-image"] [data-pi-image] {
  display: none;
}

[data-component="pixelated-image"] [data-pi-container] canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
