<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>247 Artists Trail Demo</title>
    <script type="module" src="/src/index.js"></script>
  </head>
  <body style="margin: 0">
    <section data-component="247artists-trail">
      <section class="trail-hero">
        <div
          class="trail-hero-img"
          style="
            background-image:
              radial-gradient(circle at 20% 20%, rgba(100, 100, 100, 0.35), rgba(16, 16, 16, 0.95)),
              linear-gradient(120deg, rgba(36, 36, 36, 0.9), rgba(16, 16, 16, 0.85));
          "
        ></div>
        <p>[ The Future Moves in Frames ]</p>
        <p>Experiment 457 by Codegrid</p>
        <div class="trail-container" data-247-trail-container></div>
      </section>
    </section>
  </body>
</html>
